<!-- index.ejs 의 head 내용. head tag 는 index 에 있음 -->
<!-- css 와 js 는 여기에서 모두 import -->

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>대한고교 학사관리</title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/form.css" />
<script src="/js/nav.js"></script>
<script src="/js/st_write.js"></script>
