extends layout
block content
    link(rel="stylesheet", href="/css/gallery.css")
    section.gallery
        div.gallery.img_container
            mixin box
                div.img_box
                    div.thumb
                    div.title 제목
                    span.date 2022-11-29 화
                    span.time 오전 09:00
            +box
            +box
            +box
            +box
            +box
            +box
            +box
            +box
        div.pagination
            button.pg_01 1
            button.pg_02 2
            button.pg_03 3
            button.pg_04 4
            button.pg_05 5
            button(type="button") next