extends layout
block content
    link(rel="stylesheet", href="/css/gallery.css")
    section.gallery
        div.gallery.img_container
            div.img_box
                div.thumb
                div.title 제목 1
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 2
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 3
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 4
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 5
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 6
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 7
                span.date 2022-11-29 화
                span.time 오전 09:00
            div.img_box
                div.thumb
                div.title 제목 8
                span.date 2022-11-29 화
                span.time 오전 09:00
        div.pagination
            button.pg_01 1
            button.pg_02 2
            button.pg_03 3
            button.pg_04 4
            button.pg_05 5
            button(type="button") next