extends layout
block content
    section.schedule
        div.schedule.container
            div.days
                div 일
                div 월
                div 화
                div 수
                div 목
                div 금
                div 토
            div.dates