table.bbs.list {
  width: 100%;
  border-collapse: collapse;
}
table.bbs.list thead th {
  padding: 10px 0;
  border-bottom: 2px solid #181818;
  font-size: 15pt;
  border-radius: 5px;
}
table.bbs.list thead th:nth-of-type(4) {
  width: 50%;
}
table.bbs.list thead th:not(:nth-of-type(4)) {
  width: calc(50% / 3);
}
table.bbs.list tbody td {
  padding: 10px 0;
  border-bottom: 1px dotted rgba(100, 100, 100, 0.8);
}
table.bbs.list tbody tr {
  transition: all ease 0.2s;
}
table.bbs.list tbody tr:hover {
  background-color: #eee;
  cursor: pointer;
}
table.bbs.list tbody td:not(:nth-of-type(4)) {
  text-align: center;
}
table.bbs.list tbody td:nth-of-type(4) {
  padding-left: 5%;
}
table.bbs.list tbody tr:not([data-id]) td:nth-of-type(4) {
  padding-left: 100px;
  color: #aaa;
}
.bbs.button.box {
  align-self: flex-end;
  margin-top: auto;
}
