* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2em;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  /* cf) .을 앞에 추가하면 root인 Node_06A 폴더를 기준으로 하므로 없애야 함!! */
  background-image: url("/images/header_img.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 -5em;
}

nav {
  background-color: rgb(43, 35, 26);
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  padding: 5px 10px 5px 10px;
  /* top right botton left */
  margin: 8px 0px 8px 12px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  white-space: nowrap;
  transition: 0.5s;
}
nav li:hover {
  border-left: 3px solid rgba(255, 255, 255, 0.7);
  border-right: 3px solid rgba(255, 255, 255, 0.7);
}
nav li:nth-of-type(5) {
  margin-left: auto;
  margin-right: 10px;
}

table {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
}
table.student {
  width: 90%;
  border-collapse: collapse;
  position: relative;
}
table.student td,
table.student th {
  text-align: left;
  padding: 5px 8px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  /*
  text-overflow: ellipsis;
  table 의 칼럼에 표현되는 TextContent 의 길이가 길어서
  넘칠 경우 말줄임표(...)을 보이도록 하는 설정
  */
  white-space: nowrap;
  text-overflow: ellipsis;
  /*
  cf)
  td 에 white-space:nowrap 을 적용할 경우 
  줄바꿈이 되지 않는 대신 table 의 크기가 커진다.
  따라서 table-layout:fixed 를 함께 적용하여 표 크기를 고정한다.
  */
  table-layout: fixed;
  cursor: pointer;
}

footer {
  background-color: rgb(43, 35, 26);
  font-size: 8px;
  text-align: center;
  color: white;
  padding: 1em;
}

section.main {
  flex: 1;
  overflow: auto;
  display: flex;
}

section.main article {
  flex: 1;
  margin: 5px;
  padding: 5px;
  border: 1px solid #bbb;
  overflow: auto;
}

input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 5px;
}
input:focus {
  background-color: #ddd;
}
input:hover {
  background-color: #eee;
}
