/* st_main.ejs 파일에서 <%- include ("../includes/head.ejs") %> 밑에 import 됨 */

/*
main.css 에서 미리 section.main 을 설정하고 있지만
student 정보를 표현하는 화면에서 width 와 margin 부분을 다시 재정의
*/

section.main {
  width: 95%;
  margin: 0px auto;
}

.student {
  width: 95%;
  margin: 10px auto;
}

article.student.search form {
  width: 50%;
  text-align: center;
}
article.student.search form input {
  width: 90%;
}

.student.search {
  display: flex;
  justify-content: center;
}
.student.insert {
  text-align: right;
  padding: 0.8em;
}
.student.insert a {
  padding: 6px 10px;
  margin: 5px;
  background-color: rgb(87, 87, 248);
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
article.student.detail {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
div.student.item {
  width: 80%;
  display: flex;
}
div.student.item div {
  border: 1px solid #777;
  margin: 5px;
  padding: 8px;
}
div.student.item div:nth-of-type(1) {
  width: 30%;
  background-color: #aaa;
  font-weight: 900;
  text-shadow: 1px 1px 1px white;
  text-align: right;
}
div.student.item div:nth-of-type(2) {
  width: 60%;
  text-align: left;
}

div.student.btn-box {
  text-align: center;
}

div.student.btn-box button {
  padding: 12px 16px;
  margin: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}

div.student button.st_update {
  background-color: blue;
  color: white;
}

div.student button.st_delete {
  background-color: orange;
  color: white;
}

div.student button.st_list {
  background-color: green;
  color: white;
}

/* div.student button:hover { */
button:hover {
  background-color: #ccc !important;
  color: black !important;
}
