doctype html
html
  head
    title 안녕하세요
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/stars.css")
    script(src="/js/main.js")
    script(src="/js/nav.js")
    script(src="/js/stars.js")
    - let todayCount = 12;
    - let totalCount = 550;
  body
    div.cloud
    div.container
      aside.sidebar
        div.sidebar.content
          header
            h1 안녕하세요
          div.clock
            div.hour
            div.minute
            div.second
          div.player MUSIC PLAYER
            div.player.button_box
            div.player.list
              ul 
                li 
                li 
                li 
                li 
                li   
          form(method="GET").login
            fieldset
              div.input_box
                label(for="username") 아이디
                input#username(name="username",type="text")
              div.input_box
                label(for="password") 비밀번호
                input#password(name="password",type="password")
              button(type="button")#login 로그인 
          div.counter
            div.count.today Today 
              span= todayCount
            div.count.total Total 
              span= totalCount
      block content
      nav 
        ul 
          li 표지
          li 일정
          li 목표
          li 포스트
          li 게시판
          li 갤러리
      div.modalbox
            div.modal.msg 정말 이 게시글을 삭제할까요?
            div.modal.button.box
                button.modal.cancel 취소
                button.modal.delete 삭제
    div.blur