article.user.login.container {
  position: absolute;
  top: 50%;
  left: 50%;
  /* 왼쪽위 모서리 기준으로 중앙 정렬되므로 박스 크기 이용해 중앙정렬 */
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  box-shadow: 0px 12px 2px 1px rgba(82, 82, 204, 0.2);
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* @keyframes 로 설정된 애니메이션 적용하기 */
  animation-name: login_box_pull_down;
  animation-duration: 0.8s;
}

h1.user.login.title {
  font-size: 3em;
  letter-spacing: 0.1em;
}

h2.user.login.error,
form.login input,
form.login button {
  display: block;
  margin: 20px auto;
  width: 250px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  transition: 0.5s;
}

h2.user.error {
  background-color: rgb(223, 50, 50);
  color: rgb(255, 217, 0);
  text-align: center;
  word-break: keep-all;
}

form.login input {
  background-color: rgb(199, 205, 216);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

form.login input:hover {
  opacity: 0.5;
}

form.login input:focus {
  opacity: 1;
  width: 350px;
}

form.login button {
  /* opacity 를 사용할 경우 글자색에도 영향 */
  /* font color 는 그대로 두고 배경색에만 opacity 주기 */
  background-color: rgba(82, 82, 204, 0.6);
  color: white;
  font-size: 12pt;
  font-weight: 900;
}

form.login button:hover {
  background-color: rgba(82, 82, 204, 1);
  cursor: pointer;
}

div.login.url {
  text-align: center;
  color: #777;
}

div.login.url a {
  text-decoration: none;
  color: inherit;
}

div.login.url a:hover {
  color: #aaa;
  text-decoration: underline;
}

/*
css 를 통하여 animation 을 구현하기 위한 도구
*/
@keyframes login_box_pull_down {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
