form.product.write {
  width: 80%;
  margin: 10px auto;
}

form.product.write fieldset {
  border-radius: 10px;
}

form.product.write legend {
  margin: 50px;
  padding: 10px;
  color: rgb(82, 82, 204);
  font-weight: 900;
  font-size: 15pt;
}

form.product.write div {
  width: 90%;
  margin: 5px auto;
  display: flex;
}

form.product.write label,
form.product.write input {
  padding: 8px;
  margin: 3px;
}

form.product.write div label {
  flex: 1;
  text-align: right;
  color: rgb(0, 174, 255);
  font-weight: bold;
}
form.product.write div.container {
  flex: 3;
  display: flex;
}
form.product.write div input {
  flex: 3;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
}
form.product.write div.ptax.container input {
  flex: 0;
}
form.product.write span {
  font-weight: bold;
  margin: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
}
form.product.write input[name="p_oprice"] {
  border: none !important;
  border-radius: 0;
  border-bottom: 1px solid #ccc !important;
}
form.product.write input[name="p_oprice"]:hover,
form.product.write input[name="p_oprice"]:focus {
  background-color: inherit;
}

form.product.write div.button.box {
  display: flex;
  justify-content: right;
}

div.button.box button {
  margin: 12px 3px 12px 10px;
  color: white;
  font-size: 12pt;
  font-weight: 700;
  padding: 1em 1.5em;
}
button.product.input {
  background-color: rgb(82, 82, 204);
  color: white;
}

button.product.list {
  background-color: orange;
}

button.product.reset {
  background-color: yellowgreen;
}

div.button.box button:hover {
  background-color: rgb(0, 174, 255);
}
