table.list {
  width: 100%;
  flex: 1;
  border-collapse: collapse;
}
table.list th {
  border-bottom: 2px solid #333;
  padding: 1em;
  font-size: 15pt;
}
table.list tbody tr {
  cursor: pointer;
}
table.list tbody tr:hover {
  background-color: #eee;
}
table.list td {
  border-bottom: 1px dotted #aaa;
  padding: 0.8em 0;
}
table.list tr td:nth-of-type(1),
table.list tr td:nth-of-type(3),
table.list tr td:nth-of-type(4),
table.list tr td:nth-of-type(5) {
  text-align: center;
}
