* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  padding: 2em;
  color: white;
  text-shadow: 1px 1px 1px #777;
  background: linear-gradient(
    90deg,
    rgb(29, 27, 80) 0%,
    rgb(82, 82, 204) 30%,
    rgb(0, 174, 255) 100%
  );
}

nav.main {
  background-color: rgb(37, 37, 37);
  color: white;
  font-weight: bold;
}

nav.main ul {
  list-style: none;
  display: flex;
}

nav.main li {
  margin: 0.5em 16px 0.7em 16px;
  padding: 12px 16px 5px 16px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}

nav.main li:hover {
  border-bottom: 3px solid yellowgreen;
}
nav.main li:nth-last-child(1) {
  margin-left: auto;
}

section.main {
  flex: 1;
}

footer {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 0.8em;
  text-align: center;
}
/*
cf)
-box-shadow
  offset-x | offset-y | color
  offset-x | offset-y | blur-radius | color
  offset-x | offset-y | blur-radius | spread-radius | color
  inset | offset-x | offset-y | color
  Any number of shadows, separated by commas
  Global values
    box-shadow: inherit;
    box-shadow: initial;
    box-shadow: unset;

-text-shadow
  offset-x | offset-y | blur-radius | color
  color | offset-x | offset-y | blur-radius
  offset-x | offset-y | color
  color | offset-x | offset-y 
  offset-x | offset-y
  Use defaults for color and blur-radius 
  Global values
    text-shadow: inherit;
    text-shadow: initial;
    text-shadow: revert;
    text-shadow: revert-layer;
    text-shadow: unset;
*/
button:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}
/* mouse hover */
input:hover {
  background-color: #eee;
}
/* mouse click, focus */
input:focus {
  background-color: #ddd;
}
